<h1 mat-dialog-title>Add element</h1>

<div mat-dialog-content>
    <form [formGroup]="taskForm">
        <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
            <mat-error *ngIf="title.invalid">Enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="description">
            <mat-error *ngIf="description.invalid">Enter a description</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estimated time" formControlName="estimatedTime">
            <mat-error *ngIf="estimatedTime.errors?.estimatedTime">Input format: mm-dd-hh</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Category" formControlName="category">
            <mat-error *ngIf="category.invalid">Enter a category</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Date" formControlName="date">
            <mat-error *ngIf="date.errors?.date">Input format: dd-mm-yyyy</mat-error>
        </mat-form-field>
    </form>
</div>

<div>
    <button mat-button [mat-dialog-close]="taskForm" [disabled]="taskForm.invalid">Ok</button>
</div>